<div class="top_nav">
  <div class="web_logo"><i class="bi bi-list"></i><span class="labio_text">MITMAT</span></div>
  <div class="search_div">
    <div class="search_bar">
      <input id="search_input" class="search_input" placeholder="Search..." type="text" />
      <button id="search_btn" class="search_btn"><i class="bi bi-search"></i></button>
    </div>
    
  </div>
  <div class="page_links">
    <ul>
      <li><a class="page_links home_li " href="/user/userhome">Home</a></li>
      <li><a class="page_links" href="/user/wishlist"><i class="bi bi-heart bi_top_heart"></i><span id="wish-Count" class="product_count wish_count_top"><%= locals.wishlistCount %></span></a></li>
      <li><a class="page_links" href="/user/cart"><i class="bi bi-cart3  "></i><span class="product_count cart_count"><%= locals.cartCount %></span></a></li>
      <li><a class="page_links " href="/user/Address">Account</a></li>
      <li><a class="page_links" href="/user/logout"><i class="bi bi-box-arrow-right"></i></a></li>
    </ul>
  </div>
</div>