<%- include('../common/head.ejs') %>
    
   <div class="wrapper address_wrapper">
    <%- include('../common/top_nav.ejs') %>
         <div class="content address_content">
            <div class="frame">
                <div class="left_bar">
                    <ul>
                        <li class="left_profile_li">
                            <%if(img=='false'){%>
                            <img src="/uploads/profiles/altimage-removebg-preview.png" alt="">
                            <%}else{%>
                                <img src="/uploads/profiles/<%=profiledata.userImage%>" alt="">
                                <%}%>    
                            <h3 style="color: white;">HELLO</h3>
                        </li>
                        <li onclick="location.href='/user/Address' " class=""><i class="bi bi_left_bar bi-person-circle"></i>Profile</li>
                        <li onclick="location.href='/account/address' " class=""><p class="adress_add" >+</p>Add Address</li>
                        <li onclick="location.href='/account/update_password' " class=""><i class="bi bi_left_bar bi-shield-lock-fill"></i>Update Password</li>
                        <li onclick="location.href='/user/orders' " class=""><i class="bi bi_left_bar bi-gift-fill"></i>Orders</li>
                        <li onclick="location.href='/user/cart'"><i class="bi bi_left_bar bi-cart-fill"></i>Cart</li>
                        <li onclick="location.href='/user/wishlist' " ><i class="bi bi_left_bar bi-heart-fill"></i>Wishlist</li>
                        <li onclick="location.href='/account/aboutus' " class=""><i class="bi bi_left_bar bi-info-circle-fill"></i>About Us</li>
                        <li onclick="location.href='/account/contactus' " class=""><i class="bi bi_left_bar bi-telephone-fill"></i>Contact Us</li>
                    </ul>
                </div>
                </div>
            <div class="right_content">
               <div class="address_frame">
                  <div class="pro_top">
                     <h3>Address Details</h3>                     
                 </div>
               <div class="form_frame12">
                   <form id="form-address" action="/user/altAddressPost" method="post" spellcheck="false" >
                   
                   <div class="bottom" style="padding: 0 1rem;">

                    <span style="display: flex; flex-direction: column; gap: .2rem; margin-top: .5rem; width: 95%;">
                        <label for="firstName">First Name</label>
                        <input  value="" type="text" name="firstName">
                    </span>
                    <span style="display: flex; flex-direction: column; gap: .2rem; margin-top: .5rem; width: 95%;">
                        <label for="lastName">Last Name</label>
                        <input  value="" type="text" name="lastName">
                    </span>


                    <div style="display: flex; gap: 1rem; width: 96%; padding: .5rem 0;">


                     <span style="display: flex; flex-direction: column; gap: .2rem; margin-top: .5rem; width: 55%;">
                        <label for="dob">Mobile</label>
                        <input   value="" type="number" name="phoneNumber">
                    </span>

                     <span style="display: flex; flex-direction: column; gap: .2rem; margin-top: .5rem; width: 40%;">
                        <label for="dob">DOB</label>
                        <input value="" type="date" name="dateofBirth">
                    </span>
                    
                    </div>
                    <span style="display: flex; flex-direction: column; gap: .2rem; width: 95%;">
                        <label for="email">email</label>
                        <input  value="" type="text" name="email" style="font-family: 'Poppisn',sans-serif; height: 2.5rem; outline: none; font-size: .9rem; width: 100%; padding: .4rem;">
                    </span>
                    <span style="display: flex; flex-direction: column; gap: .2rem; width: 95%;">
                        <label for="country">Country</label>
                        <input  value="" type="text" name="country" style="font-family: 'Poppisn',sans-serif; height: 2.5rem; outline: none; font-size: .9rem; width: 100%; padding: .4rem;">
                    </span>

                       <div style="display: flex; gap: 1rem; width: 94%; margin-top: .4rem;">
                           
                       
                       <span style="display: flex; flex-direction: column; gap: .2rem;  width: 35%;">
                       <label for="state">State</label>
                       <input  value="" type="text" name="state" style="font-family: 'Poppisn',sans-serif; height: 2.5rem; outline: none; font-size: .9rem; width: 100%; padding: .4rem;">
                       </span>
   
   
                       
                       
                       <span style="display: flex; flex-direction: column; gap: .2rem;  width: 35%;">
                           <label for="district">District</label>
                           <input  value="" type="text" name="district" style="font-family: 'Poppisn',sans-serif; height: 2.5rem; outline: none; font-size: .9rem; width: 100%; padding: .4rem;">
                       </span>
   
                       <span style="display: flex; flex-direction: column; gap: .2rem; width: 35%;">
                       <label for="pin">Pin-Code</label>
                       <input  value="" type="text" maxlength="8" name="zip" style="font-family: 'Poppisn',sans-serif; height: 2.5rem; outline: none; font-size: .9rem; width: 100%; padding: .4rem;">
                       
                       </span>
   
                       </div>
   
                       <span style="display: flex; flex-direction: column; gap: .2rem; margin-top: .5rem; width: 95%;">
                           <label for="landmark">Landmark</label>
                           <input  value="" type="text" name="landMark">
                       </span>

                    
                       <span style="display: flex; flex-direction: column; gap: .2rem; margin-top: .5rem;">
                           <label for="address">Full Address </label>
                           <textarea name="Address" placeholder="House No,Post"  id="text_area"></textarea>
                       </span>
                       <p class="error_msg"></p>
                       <span style="display: flex; flex-direction: column; gap: .2rem; margin-top: .5rem;">
                           <button  type="submit" id="update_profile_btn" class="update_profile_btn">Add Address</button>
                       </span>
                   </div>
               </form>
               </div>
           </div>
         </div>
        </div>
        <!-- include footer -->
   </div>
   <script src="/javascript/btnsearch.js"></script>

<!-- include footer -->
</body>
</html>
