<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
rel="stylesheet">
	<link rel="stylesheet" href="/css/admin/dashboard.css">
    <link rel="stylesheet" href="/css/user.css">
	<title>AdminSite</title>
</head>
<style>
    .custom-popup {
               display: none;
               position: fixed;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               background: rgba(0, 0, 0, 0.5);
               justify-content: center;
               align-items: center;
           }
   
           .popup-content {
               background: #fff;
               border-radius: 8px;
               padding: 20px;
               box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
               text-align: center;
               max-width: 400px; /* Adjust the width as needed */
               width: 80%;
           }
   
           #popup-message {
               margin-bottom: 20px;
               font-size: 1.2em;
           }
   
           .button-container {
               display: flex;
               justify-content: center;
               gap: 10px;
               margin-top: 20px;
           }
   
           button {
               background-color: #4CAF50;
               color: #fff;
               padding: 10px 20px;
               border: none;
               border-radius: 4px;
               cursor: pointer;
               font-size: 1em;
           }
   
           button:hover {
               background-color: #45a049;
           }
        
       </style>
<body>
	
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand"><i class='bx bxs-smile icon'></i> AdminSite</a>
		<ul class="side-menu">
			<li><a href="/admin/adminhome" ><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
			<li><a href='/admin/addproduct'><i class='bx bxs-inbox icon' ></i> Add Product</i></a></li>
			<li><a href='/admin/products'><i class='bx bxs-chart icon' ></i> Products</a></li>
			<li><a href="#" class="active"><i class='bx bxs-widget icon' ></i> Categories</a></li>
			<li><a href="/admin/userslist"><i class='bx bx-table icon' ></i> Users List</a></li>
			<li>
				<a href="#"><i class='bx bxs-notepad icon' ></i> Forms <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li><a href="#">Basic</a></li>
					<li><a href="#">Select</a></li>
					<li><a href="#">Checkbox</a></li>
					<li><a href="#">Radio</a></li>
				</ul>
			</li>
		</ul>
		
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu toggle-sidebar' ></i>
			<form action="#">
				<div class="form-group">
					<input type="text" placeholder="Search...">
					<i class='bx bx-search icon' ></i>
				</div>
			</form>
			<a href="#" class="nav-link">
				<i class='bx bxs-bell icon' ></i>
				<span class="badge">5</span>
			</a>
			<a href="#" class="nav-link">
				<i class='bx bxs-message-square-dots icon' ></i>
				<span class="badge">8</span>
			</a>
			<span class="divider"></span>
			<div class="profile">
				<img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
				<ul class="profile-link">
					<li><a href="#"><i class='bx bxs-user-circle icon' ></i> Profile</a></li>
					<li><a href="#"><i class='bx bxs-cog' ></i> Settings</a></li>
					<li><a href="#"><i class='bx bxs-log-out-circle' ></i> Logout</a></li>
				</ul>
			</div>
		</nav>
		
		<main>
            <h1 class="title" style="padding-left: 10px;">Categories</h1>
			<ul class="breadcrumbs"style="padding-left: 10px;">
				<li><a href="/admin/adminhome">Home</a></li>
				<li class="divider">/</li>
				<li><a href="#" class="active"> Categories</a></li>
			</ul>
			
			<form class="specdetail" action="/admin/addCategory" method="post">
            <div class="data1">
				<div class="content-data">
					<label for="categoryName" style="font-weight: bold; font-size: larger;padding-bottom: 20px; padding-left: 30%;">Add Category</label ><br><br>
						<div class="category" style="font-weight: bold;">Category</div>
				<input type="text" id="categoryName" name="categoryName" style="width: 98%; height: 13%; border: 2px solid black;">
                <br><br>
				
                <button class="submit" style="margin-top: 10px;height: 13%; width: 50%; display: flex; align-items: center; justify-content: center;margin-left: 25%;" ><a>Add</a></button>
				</div>
				<div class="content-data">
					<label for="categoryName" style="font-weight: bold; font-size: larger;padding-bottom: 20px; padding-left: 30%;">Add Sub Category</label ><br><br>
						<div class="category" style="font-weight: bold;">Category</div>
				<input type="text" id="categoryName" name="categoryName" style="width: 98%; height: 13%; border: 2px solid black;">
                <br><br>
				<div class="subCategory" style="font-weight: bold;">Sub Category</div>
				<input type="text" id="subCategory" name="subCategory" style="width: 98%; height: 13%; border: 2px solid black;"><br>
                <button class="submit" style="margin-top: 10px;height: 13%; width: 50%; display: flex; align-items: center; justify-content: center;margin-left: 25%;" ><a>Add</a></button>
				</div>
				
                <div class="content-data1" >
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th style="font-weight: bold; font-size: large;">Category List</th>
								<th style="font-weight: bold; font-size: large;">Sub Category List</th>
                                <th style="font-weight: bold;font-size: large;">Delete</th>
                            </tr>
                        </thead>
                        <!-- ... (previous code) ... -->
						<tbody>
							<% categoryList.forEach((category) => { %>
								<tr>
									<td style="padding-top: 30px;">
										<h5 class="card-title"><%= category.categoryName %></h5>
									</td>
									<td >
										<button class="submit" style="width:30%; height: 20%;" ><a href="/admin/subCategory/<%= category.subCategory %>">View</a></button>
										</a>
										
									</td>
									
									<td style="padding-top: 30px;">
										<a class="btn btn-light border px-2 pt-2 icon-hover" onclick="window.location.href='/admin/deletecategory/<%= category._id %>'">
											<i class="fas fa-trash fa-lg text-secondary px-1"></i>
										</a>
										
									</td>
									
									
								</tr>
								
							<% }); %>
							
						</tbody>
<!-- ... (remaining code) ... -->

                    </table>
                </div>
			</div>
		</form>
		
			
		</main>
		<!-- MAIN -->
	</section>
	
       



<script src="js/adminserver.js"></script>
<script src="/js/searchproduct.js"></script>>

	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script src="/js/script.js"></script>
</body>
</html>